<section class="nav_bar" id="navbar">
        <div>
            <ul>
                <li id="profile" >
                    <a href="">
                        Profile
                    </a>
                </li>
                <li id="experience">
                    <a href="">
                        Experience
                    </a>
                </li>
                <li id="skills">
                    <a href="">
                        Skills
                    </a>
                </li>
                <li id="languages">
                    <a href="">
                        Languages
                    </a>
                </li>
                <li id="contacts">
                    <a href="">
                        Contacts
                    </a>
                </li>
            </ul>
        </div>
    </section>